

{{#if template}}
<template>
    <div>
        {{upperCase view}}
    </div>
</template>
{{/if}}
{{#if script}}
<script>
    export default {
        data:()=>{
            return {

            }
        }
    }
</script>
{{/if}}
{{#if style}}
<style scoped>

</style>
{{/if}}